.none, .list.none, .pagination.none{
    display: none;
 
}

.list{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment{
    display: flex;
    width: 90%;
    margin: 0 5%;
    justify-content: space-between;
}
.answer{
    text-decoration:underline;
    text-align: center; 
}
.one_block{
    background: cornsilk;
    width: 45%;
    border: 1px solid #256325;
    margin:5px;
    border-radius: 5%;
    padding: 5px;
}
.pagination{
    text-align: center;
}

.pag{
    border: 1px solid #222333;
    margin: 1px;
    padding: 5px;
    border-radius: 3%;

}
.pag:hover{
    background: red;
}
.blue{
    background: #dcfffa;
}

.green{
background: #e5ffdc;
}