body{
	max-width:800px;
	text-align: center;
}
header{
	background: #afb10dd9;
	height: 200px;
	font-style: italic;
}
nav{
	width: 100px;
	background: #7d7e51a6;
	height: 400px;
	float: left;
	font-style: italic;
}
section{
	color: #ab1472d9;
	font-size: 18px;
	font-weight: 700;
	background: #d3d481f0;
	height: 400px;
}
footer{
	background: #afb10dd9;
	height: 200px;
	font-style: italic;
}