body{
	margin: 0;

}
nav{
	border: 1px solid brown;
	background-color: beige;
	position: relative;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav ul li{
    list-style: none;
    margin: 1%;
    padding: 1%;
}
nav ul li:hover{
	cursor: pointer;
	background-color: #a52a2a2b;
	transform: scale(1.3); /*змына маштабу, щоб збыльшилось при наведенні*/
	transition:transform 0.3s; /*робимо, щоб збільшення було плавним*/
}
table, tr, td {
	border: 1px solid black;
    border-collapse: collapse;
}
table{
	width: 80%;
    margin: 0 auto;
   }
.hover{
	background-color: #a52a2a2b;
  }


 /*прелоадер*/
 .lds-ring {
    background-color: #81835491;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
}
.active{
	display: flex;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b16707 transparent transparent transparent
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
