.backGrey{
    background: #b8c3c3;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
.backGrey p{
	color: #7f7f7f;
	margin: 0;
}
footer.backGrey{
	padding-bottom: 0;
}
.backBlue{
	background: #bcddff;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.backBlue p{
	color: #5507df;
	 margin: 0 auto;
}
p{
	padding-top: 10px;
	text-transform: uppercase;
}
.divBasic{
	display: flex;
	width: 100%;
	margin: 20px auto;
    justify-content: space-between;
    text-align: center;

}
.section1{
	background: #b8c3c3;
	width: 60%;
	text-align: center;
	color: #7f7f7f;
	
}
.blue{
	background: #bcddff;
	text-align: center;
	width: 90%;
	margin: 10px auto;

}
.blue p{
	color: #5507df;
}
.green{
	background: #bcffd9;
	text-align: center;
	width: 90%;
	margin: 10px auto;
}
.green p{
	color: #5b9f5f;
}
.section2{
	background: #b8c3c3;
	width: 38%;
	text-align: center;
	color: #7f7f7f;
}
p{
	padding: 10px;
}