body{
	position: relative;
}
#test{
	padding: 20px;
    border: 1px solid;
    width: 31%;
}
.in{
	background-color: beige;
}
::value {
	font-size: 25px;
}
.borderRed{
	border:4px solid red;
}
.borderG{
	border:4px solid green;
}
.divPrice{
	/*border: 1px solid gray;
	height: 10%;*/
	position:absolute;
	margin: 5% 25%;
}
#price{
	width: 100%;
}
span{
	width: 20%;
    font-size: 20px;
    color: initial;
    background-color: cornsilk;
    display: inline-block;
}
.back{
	background: #0080001f;
}
#sub{
	
    text-align: center;
    border: 2px solid #ff00007a;
    border-radius: 20%;
    font-size: 6px;
    background-color: #ff00007a;
    position: absolute;
    top: -5px;
    left: 95px;
}
.divBut{
	margin: 0 0 10px 0;
	text-align: center;
	position: relative;
}
#error{
	font-size: 16px;
	color: red;
}